echo venv/ >> .gitignore
echo _pycache_/ >> .gitignore
echo *.pyc >> .gitignore
echo *.exe >> .gitignore
echo *.dll >> .gitignore
echo *.pyd >> .gitignore
echo *.egg-info/ >> .gitignore
echo .env >> .gitignore